.our-services {
    width: 100%;
    margin: 50px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0 10px;
    box-sizing: border-box;
}

.services-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.services-content >svg{
    width: 50px;
    height: 40px;
}

.services-content>p {
    font-size: 20px;
    font-weight: 300;
    color: #0C0C0C;
    white-space: nowrap;
}

@media screen and (max-width: 1024px){
    .our-services{
        gap: 30px;
    }

    .services-content{
        flex-direction: column;
    }

    .services-content > svg{
        height: 40px;
    }
}

@media screen and (max-width: 768px) {
    .our-services {
        gap: 15px;
    }

    .services-content>svg {
        height: 30px;
    }

    .services-content>p {
        font-size: 16px;
    }
}

@media screen and (max-width: 580px){
    .our-services{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    .our-services {
        gap: 10px;
    }

    .services-content>p {
        font-size: 12px;
    }
}