.categries {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.categries-content {
    width: 140px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    box-shadow: 3px 3px 15px rgb(230, 230, 230);
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: #fff;
    overflow: hidden;
}

.categries-img {
    height: 100px;
    transition: transform 0.5s ease-in-out;
}

.categries-img:hover {
    transform: scale(1.2);
}

.categries-para {
    font-size: 15px;
    color: #7c7c7c;
    margin: 5px 0;
    text-align: center;
    white-space: nowrap;
}

@media (max-width: 1024px) {
    .categries {
        justify-content: center;
        gap: 15px;
    }

    .categries-content {
        width: 150px;
        padding: 10px 15px;
    }

    .categries-img {
        height: 120px;
    }

    .categries-para {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .categries {
        gap: 10px;
    }

    .categries-content {
        width: 45%;
        padding: 8px 10px;
    }

    .categries-img {
        height: 100px;
    }

    .categries-para {
        font-size: 13px;
    }
}