.profile-content-container {
    width: 85%;
    margin: 100px auto 10px;
    display: flex;
    gap: 10px;
}

.account-lists {
    width: 450px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0;
}

.account-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

.account-content:hover {
    background-color: gainsboro;
}

.account-content>.heading {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.sub-heading-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-heading-content>svg {
    display: none;
}

.sub-heading {
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.account-content-svg {
    margin-left: 10px;
}

.personal-data-container {
    width: 100%;
    padding: 20px;
}

.personal-data-container>.heading {
    font-size: 20px;
    font-weight: 500;
}

.personal-data-container>.para {
    font-size: 16px;
    font-weight: 300;
    color: #717171;
    margin-top: 10px;
}

.identification-content-container {
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 10px; */
}

.name {
    font-size: 14px;
    font-weight: 300;
    margin-left: 20px;
    color: #717171;
    margin-top: 20px;
}

.edit-content {
    width: 42%;
    height: 55px;
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px;
    border-radius: 8px;
}

.sub-edit-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sub-edit-content>p {
    color: #717171;
}

@media screen and (max-width: 850px) {
    .identification-content-container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: unset;
    }

    .edit-content {
        width: 100%;
        padding: 11px 15px;
    }
}

@media screen and (max-width: 770px) {
    .profile-content-container {
        width: 100%;
    }

    .account-lists {
        width: 580px;
    }
}

@media screen and (max-width: 500px) {
    .sub-heading-content {
        display: none;
    }

    .account-content>.heading {
        display: none;
    }

    .account-lists {
        width: fit-content;
    }

    .account-content>svg {
        width: 40px;
        margin-left: 0px;
    }

    .edit-content {
        height: 35px;
    }
}