.new-products-container-2 {
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: baseline;
    gap: 25px;
    margin: 30px auto;
}

.new-products-2 {
    width: 340px;
    margin: 50px auto 0;
}

/* Tablets (medium screens) */
@media screen and (max-width: 1024px) {
    .new-products-2 {
        width: 250px;
    }
}

/* Mobile Devices */
@media screen and (max-width: 768px) {
    .new-products-container-2 {
        flex-direction: column;
        gap: 20px;
    }

    .new-products-2 {
        width: 90%;
        margin: 30px auto 0;
    }
}